@page
@model lr1.Pages.Lab1Model
@{
    Layout = "Shared/_LayoutLab1.cshtml";
    ViewData["Title"] = "Lab1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>lab1 prod. by Karpenko 214.41</p>
</div>

